@model List<JobPosting>

<div class="row mt-4 mb-2">
    <div class="col text-start"><h2>List of available Job Posts</h2></div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h4>No Job posts available at the moment.</h4>
}
else
{
    <div class="container">
        @foreach (var jobPost in Model)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">@jobPost.Title</h4>
                    <h6 class="card-subtitle mb-2 text-muted"> <strong class="mr-2">Location:</strong>  @jobPost.Location    <strong>Posted:</strong>  @jobPost.DatePosted.ToString("dd MMM yyyy")</h6>
                    <p class="card-text">@jobPost.Description</p>
                    <a href="#" class="card-link">Apply to job</a>
                    @* <a href="#" class="card-link">Another link</a> *@
                </div>
            </div>
        }
    </div>
    
}

