@model DevSpot.ViewModels.JobApplicationViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Apply to Job Post</h4>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" asp-action="JobApplication">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <label class="form-label mb-1" for="ResumeInput"><strong>Upload Resume</strong> *</label>
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <input type="file"
                                       class="form-control"
                                       id="ResumeInput"
                                       asp-for="Resume"
                                       accept=".pdf,doc,.docx">

                            </div>
                            <small>Max file size of 5mb. Accepted file types (.pdf, doc, .docx)</small>
                            <span asp-validation-for="Resume" class="text-danger"></span>
                        </div>

                        <label class="form-label mb-1" for="CoverLetterInput"><strong>Upload Cover letter </strong></label>
                        <div class="mb-4">
                            <div class="input-group mb-1">
                                <input type="file"
                                       class="form-control"
                                       id="CoverLetterInput"
                                       asp-for="CoverLetter"
                                       accept=".pdf,doc,.docx">
                            </div>
                            <small>Max file size of 5mb. Accepted file types (.pdf, doc, .docx)</small>
                            <span asp-validation-for="CoverLetter" class="text-danger"></span>
                        </div>
                        
                        <div class="row justify-content-between">
                            <div class="col-lg-4 mb-2 mb-lg-0">
                                <a href="/JobPostings" class="btn btn-light w-100"><i class="bi bi-box-arrow-left"></i> Cancel</a>
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary w-100"><i class="bi bi-floppy"></i> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
